/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  min-width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 24px;
  background-color: rgb(94, 83, 114);
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.wrapper {
  display: flex;
}

.header {
  background-color: rgb(50, 181, 164);
  min-width: 100%;
  padding: 15px;
}

.header h1 {
  text-align: center;
  font-size: 40px;
}
