* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

.block {
}

.block__row {
  display: flex;
  /* display: inline-flex - строчный flex-контейнер
  очень удобно работать если нужно ограничить ширину контейнера по содержимому и выстроить по центру с помощью text-align: center, примененного к родительскому элементу*/
  /* display: inline-flex; */
  /* justify-content: flex-start; - значение по умолчанию */
  justify-content: flex-start;
  /* align-items: stretch; - значение по умолчанию. Это свойство растягивает все элементы по высоте (ширине) наиболее высокого (широкого) элемента*/

  border: 20px solid #ece89d;
  margin: 0 0 20px 0;
}

.block__column {
  border: 20px solid #5e5373;
  /* flex-basis - управляет базовым размером элемента. Значение по auto. Стоит учесть, что данное свойство не переписывает свойство width, а только указывает базовый размер flex-элемента. Ширина самого контейнера может быть и больше базового размера*/
  /* flex-basis: 300px; */
  /* flex-grow - контролирует возможность элемента увеличиваться относительно его базового размера. По умолчанию принимает значение 0. */
  /* flex-grow: 1; */
  /* flex-shrink - контролирует возможность элемента уменьшаться относительно его базового размера. По умолчанию принимает значение 1. */
  /* flex-shrink: 1; */
  /* Короткая запись значений свойств
  flex: flex-grow flex-shrink flex-basis*/
  flex: 1 1 50%;
}

.block__column_1 {
}
.block__column_2 {
}
.block__column_3 {
}

.block__item {
  background-color: #18b5a4;
  padding: 50px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.block__list {
  display: flex;
  align-items: center;
}

.block__list li {
  list-style: none;
  margin-right: 20px;
}

.block__list li:last-child {
  margin-right: 0;
}

.block__info {
  position: relative;
  padding: 0 0px 0 20px;
}

.block__info_y:before,
.block__info_p:before,
.block__info_g:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: 15px;
  height: 15px;
}

.block__info_y:before {
  background-color: #ece89d;
}

.block__info_p:before {
  background-color: #5e5373;
}

.block__info_g:before {
  background-color: #18b5a4;
}
